{
  "all": true,
  "sourceMap": true,
  "reporter": [
    "lcov",
    "text-summary"
  ],
  "exclude": ["index.js", "**/node_modules/**", "**/coverage/**", "**/test/**", "**/doc/**"],
  "lines": 100,
  "statements": 100,
  "functions": 100,
  "branches": 100
}
